<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.user.pojo.Menu">
	<select id="findAll" parameterType="ssm.user.pojo.User" resultType="ssm.menu.pojo.Menu">
	select * 
	from
		menus t4
	where 
		t4.id
	in 
		(select 
			t3.menuId 
		from 
			role_menu t3
		where 
			t3.roleId in
				(
				select t2.roleId
				from user_role t2 left join user t1
				on t1.id = t2.userId
				where t1.id=#{id}
				)
		)
	</select>
</mapper>