<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	

	
	<!-- spring http invoker服务 -->
	<!-- 菜单接口 -->
	<!-- <bean id="menuServiceImple" class="ssm.menu.service.impl.MenuServiceImpl"/> -->
	<!-- 要暴露出去的接口 -->
  	<bean name="/LocalMenuService" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
    	<property name="service" ref="menuServiceImpl" />
    	<property name="serviceInterface" value="ssm.menu.service.MenuService" />
  	</bean>
	
</beans>